// Style Guide colors

// Primary colors
$darkBlue: #2d314d;
$limeGreen: #31d35c;
$brightCyan: #2bb7da;

// Neutral colors
$greyishBlue: #9698a6;
$lightGreyishBlue: #f3f4f6;
$veryLightGrey: #fafafa;
$white: #ffffff;

// Font sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
